PcapDotNet/3rdParty/
PcapDotNet/bin/
PcapDotNet/src/PcapDotNet.Core/Debug
PcapDotNet/src/PcapDotNet.Core.Extensions/obj
PcapDotNet/src/PcapDotNet.Core.Test/bin
PcapDotNet/src/PcapDotNet.Core.Test/obj
PcapDotNet/src/TestResults
TemporaryGeneratedFile_*
*.cache
*.csproj.FileListAbsolute.txt
*.dll
*.opensdf
*.pdb
*.sdf
*.snk
*.suo
*.vcxproj.user
*.db
*.opendb
*.DS_Store

PcapDotNet/src/.vs/

PcapDotNet/src/PcapDotNet.Base/bin/

PcapDotNet/src/PcapDotNet.Base/obj/

PcapDotNet/src/PcapDotNet.Packets/bin/

PcapDotNet/src/PcapDotNet.Packets/obj/
